h1{
	color:#1d9aa4;
	font-size: 200px;
	font-family: "Geared Slab", "Extrabold";
	margin: auto;
}
h2{
	color:#be2c6a;
	font-family: "Avenir Next LT Pro", "Bold Condensed";
	font-variant: small-caps;
	font-size: 15px;
}
h3{
	font-family: "Avenir Next LT Pro", "Condensed";
	font-size: 15px;
	color: #434142
}
h4{
	color: #3c8dac;
	font-family: "Geared Slab", "Extrabold";
	font-size: 20px;
}
h5{
	color:#cd7398;
	font-family: "Avenir Next LT Pro", "Demi Condensed";
	font-variant: small-caps;
	font-size: 15px;
}
h6{
	color: #c03977;
	font-family: "Avenir Next LT Pro", "Medium Condensed";
	font-size: 15px;
}
h2, h3{
	display: inline-block;
}
h3, h6{
	display: inline-block;
}
h3, h5{
	display: inline-block;
}
ul{
	list-style: none;
	display: inline-table;
}
img{
	display: block;
	border-radius: 150px;
	margin: 0px 0px 0px 0px;
	float: left;
}
.fancy-rule:before {
    content: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx";
    font-size:15px;	
    font-family: "Avenir Next LT Pro";
    color:#1d9aa4;
}
.fancy-rule {
    border:none;
    width:300px;
    overflow:hidden;
}